@charset "UTF-8";
/* combinator exercise stylesheet*/

#container {
	max-width:960px;
	margin:0 auto;
	background-color:lightgray;
}
div {	
		background-color:beige;
		border: 1px solid black;
		padding: 1.5%; 
		margin: 10px auto;
		}
		

section {	
		background-color:white;
		border: 1px solid black;
		padding: 1.5%; 
		margin: 10px auto;
			}
			
img {
  display: block;
  margin: 10px auto;
  width: 50%;
  border:6px solid purple;
}
	

/* Add an attribute selector so that the image of the butterfly has a red boarder. */

img[alt~="butterfly."] {
  border-color: red;
}


/* Add various combinators to combine the div element and the p element. Start with the descendent selector, then experiment the others. */

div > p 
  {
  color:#820305;
  background-color:#E5B342;
  padding: 10px;
}

/* Add the adjacent sibling selector to the h1 element so that the text directly after the heading is a different style*/

h1 + p
 {
  color:white;
  background-color:black;
  padding: 10px;
}



/* Add the child selector to the div and section elements. */
div > section
 {
  color:white;
  background-color:#053D0E;
  padding: 10px;
}

/* Add an attribute selector that targets the title value of "special" so that the h3 element with the attribue has a text color of red.*/

section h3[title="special"] {
  color: red;
}


