//UNIVERSAL
* {
    box-sizing: border-box
} 

body {
    margin: 0;
}

.grid-container {
    display:grid;
    grid-template-columns: 10% 14% 62% 14%;
}




//HEADERS
    header {
        grid-column: 1 / 5;
        background-color: #20A822;
        //box-shadow: 0px 0px 10px 2px rgba(0,0,0,1);
    }

    .top-nav {
        grid-column: 1 / 5;
        overflow: hidden;
        background-color: #6EE170;
        //box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.50);
        //border-top: 1px black solid;

    //Links     
        a {
            float: right;
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            }
        a:hover {
            background-color: #66D168;
            color: black;
            }
        
        .search-container {
            float: right;
            }
    
        input[type=text] {
            padding: 6px;
            margin-top: 8px;
            font-size: 17px;
            border: none;
        }

    //Search Bar
        .search-container button {
            float: right;
            padding: 6px 10px;
            margin-top: 8px;
            margin-right: 16px;
            background: #ddd;
            font-size: 17px;
            border: none;
            cursor: pointer;
        }
        
            .search-container button:hover {
                background: #ccc;
            }
    }





//SIDE NAVIGATION
    .side-nav {
        grid-column: 1 / 2;
        background-color: #66a6ff;
        //border-right: 1px black solid;
        //box-shadow: 0px 0px 10px 2px rgba(0,0,0,1);
    
        ul {
            padding-left: 0px;
            margin-top: 0px;
        }
        

        //Side Nav Buttons
            .side-nav-groups {
                box-shadow:inset 0px 1px 0px 0px #9acc85;
                background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
                background-color:#74ad5a;
                border:1px solid #3b6e22;
                display:inline-block;
                cursor:pointer;
                color: black;
                padding:6px 12px;
                text-decoration:none;
                text-align: center;
                display: block;
                width: 100%;
            }
            .nav-categories:hover {
                background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
                background-color:#68a54b;
            }


            //Side Nav Items    
                .side-nav-items li {
                    font-size: 18px;
                    padding-left: 15px;
                }
    }





//MAIN CONTENT
    main {
        grid-column: 3 / 4;
        background-color: white;
        //border-right: 1px black solid;
        //box-shadow: 0px 0px 10px 2px rgba(0,0,0,1);
    }

    .content {
        padding: 15px;
    }




//ADVERSTISMENT
    .top-ad {
        display: flex;
        justify-content: center;
        padding-top: 15px;
        img {
            width: 728px;
            height: 90px;
        }
    }

    .left-ad {
        grid-column: 2 / 3;
        background-color: #9e9e9e;
        display: flex;
        justify-content: center;
        padding-top: 180px;
        img {
            width: 160px;
            height: 600px;
        }
        //box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.50);
        //border-right: 1px black solid;
    }

    .right-ad {
        grid-column: 4 / 5;
        background-color: #9e9e9e;
        display: flex;
        justify-content: center;
        padding-top: 180px;
        img {
            width: 160px;
            height: 600px;
        }

        //box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.5);
    }

    .ad-img {
        margin: 15px;
        box-shadow: 0px 0px 10px 2px rgba(0,0,0,1);
    }



//FOOTER
    footer {
        grid-column: 1 / 12;
        background-color: #eac39f;
        //border-top: 1px black solid;
        //box-shadow: 0px 0px 10px 2px rgba(0,0,0,1);
        font-size: 25px;
        
        div, .footer-logo {
            display: flex;
            justify-content: flex-end;
        }
        
        div, .footer-links {
            display: flex;
            justify-content: center;
        }

        a {
            padding-left: 50px;
        }
    }


    //FORM
    form {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;

        h1 {
            grid-column: 1 / 3;
        }

        h4 {
            grid-column: 1 / 3;
        }

        .fname {
            grid-column: 1 / 1;
        }

        select {
            grid-column: 1 / 3;
        }

        .btn-block {
            grid-column: 1 / 3;
            padding-top: 20px;

        }
    }