@charset "utf-8";
/* CSS Document */


/* This Layout uses CSS Grid 6 column gridand auto grid-template-columns. The width of the child items are determined by where the column starts and ends. The grid-column is a shortcut property for grid-column-start and grid-column end.  The grid-column property is a shortcut property for column start and end.*/

$lightcolor:#E6D1B3;
$mediumcolor:#CC8033;
$darkcolor:#734C26;
$brightcolor:#F2800D;
$lightlight:#E0CCB8;
$sidebar:#50C7C7;

 * {
	margin:0;
	padding: 0;
	box-sizing:border-box;
	}
	
body  {
		background-color:$lightlight;
	 
		}
		

	
#grid-container {
			display:grid;
				grid-template-columns: auto auto auto auto auto auto;
				background-color:$lightcolor;
				width:80%;
				margin:10px auto;
				border: 2px solid black;
				border-radius:25px;
	  			box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			}

header {		grid-column-start:1;
				grid-column-end:6;
				//grid-column:1 / 6;
				background-color:$mediumcolor;
				color:white;
				text-align: center;
				padding:20px;
				border-radius:23px 23px 0 0;
				}

nav    {
		grid-column-start:1;
		grid-column-end:6;
		//grid-column:1 / 6;
		background-color: $darkcolor;
		color:white;
		text-align: center;
		padding:10px;
		
       li  {
			display:inline;
			list-style-type:none;
			margin-right:1.2em;
			}
	
	    }
			
				
aside  {		grid-column-start:1;
				grid-column-end:2;
				//grid-column:1 / 2;
				background-color:$sidebar;
				padding:10px;
			    margin-right:10px;
			    border-right:1px solid black;
				}
				
main {			grid-column-start:2;
				grid-column-end:5;
				//grid-column:2 / 5;
				background-color:$lightcolor;
				padding:10px;
				}
				
#rightcolumn{	grid-column-start:5;
				grid-column-end:6;
				//grid-column:5 / 6;
				background-color:$sidebar;
				padding: 10px;
			  	margin-left:10px;
			    border-left:1px solid black;
				}
				
				
footer  {
				grid-column-start:1;
				grid-column-end:6;
				//grid-column:1 / 6;
				text-align:center;
				color:white;
				background-color:$darkcolor;
				padding:1.5em;
				border-bottom-left-radius:24px;
				border-bottom-right-radius:24px;
				}


#row {		grid-column-start:1;
			grid-column-end:6;
			//grid-column:1 / 6;
			background-color:$mediumcolor;
			color:white;
			text-align: center;
			padding:10px;}
	

	
	
img  {	margin: 0.3em 0.3em 1.5em 0.3em;
		}
	
		
img[alt~="html"]
{
	float:left;
	margin:0.5em;
}

img[alt~="css"]
{
	float:right;
	margin:0.5em;
}

img[alt~="js"]
{
	margin:10px auto;
	//margin-bottom:0.5em;
}
div > h4 {
	clear:both;
}


		