@charset "utf-8";
/* CSS Document */


/*Create some SCSS variables. Then apply the variables to the CSS rules below*/

$font-stack: Hevetica, sans-serif;
$primary-color: #1374cf;
$secondary-color: #edc368;

@mixin sample 
  {
    font-size: 16px;
    color: #ba4709;
  }

/*Nest the ul, li and a in the nav*/


nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block;
	 font:$font-stack}

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}


body	{
	font:$font-stack;
	color:$primary-color;
	background-color:$secondary-color;
}


h1	{
	color:$primary-color;
	background-color:$secondary-color;	
}



p 	{
	@include sample;
}
