// Scss Document

$font-stack: Garamond, Times, serif;
$primary-color: #ade4eb;
$background: #337a99;
$backgroundlight: #ade4eb;
$largeheading: #e6b3d6;
$smallheading: #ad1f83;
$lists: #b8e0b8;


h2 {
    $test: red;
}

