/* Scss Document */

/*The following are examples of using SASS Variables*/

$font-stack: Helvetica, sans-serif;
$primary-color: #174c82;
$background: #f0cca8;
$backgroundlight: #fff;
$largeheading: purple;
$smallheading: #ad1f83;
$lists: #d93826;

body {
	font: 100% $font-stack;
	color: $primary-color;
	background-image: linear-gradient(#d9d9d9, #999999);
}

h1,
h2,
h3 {
	color: $largeheading;
}

h4,
h5,
h6 {
	color: $smallheading;
}

div {
	background-color: $background;
	color: $primary-color;
	border: 1px solid black;
	padding: 1.5%;
	margin: 10px auto;
	width: 75%;
}

section {
	background-color: $backgroundlight;
	border: 1px solid black;
	padding: 1.5%;
	margin: 10px auto;
}

section p {
	color: black;
}

/*The following is an example of using nesting SCSS. The list item is nested in the unordered list*/

ul {
	margin: 0;
	padding: 0;
	list-style-type: square;

	li {
		font-style: italic;
		color: $lists;
		margin-left: 1.5em;
	}
}

/*The following is an example of using a module. The dark sass file is applied to the footer element.*/

@import "dark";

/*The following is an example of using a module. The footer is a separate sass file that is imported here.*/

footer {
	background-color: $darkbackground;
	text-align: $textctr;
	padding: 1.5em;
}

footer p {
	color: $lighttext;
}
