/* CSS styles to demonstrate: pagination and columns. Add the CSS with your instructor in class.*/

#container {
			background-color: beige;
			border:1px black solid;
			margin:25px auto;
			padding:1.5em;
			border-radius: 25px;
			}

/* Pagination is a good way to allow a viewer to access multiple pages on a site. Pagination can be used as a navbar, but does not contain hover properties. It is better  as a list for lots of multiple pages. Here we placed the pagination inside a flex container so that we could center and style the background of the pagination bar.*/

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5em; 
  background-color:white;
	}

.pagination {
	display:inline-block;
	background-color:lightblue;
}
.pagination a {
	color:#000;
	float:left;
	padding:8px 16px;
	text-decoration:none;
	
}

	/* Columns are a quick way to add multiple columns to a single div element. Specify the humber of columns, the space between columns, and add a line between columns.*/

#columns {
	width:90%;
	margin:10px auto;
	background-color:lightblue;
	padding:1.2em;
	column-count:; /*specifies the number of columns.*/
	column-gap: ; /*specifies the space between columns.*/
	column-rule: ; /*shorthand to specify rules inbetween columns.*/
	//column-width:;
	//column-fill:;
	column-height:;
}
	
		
	/* column-width is a flexible property - an attempt to responsive design. Think of column-width as a minimum width suggestion for the browser. Once the browser cannot fit at least two columns at your specified width then the columns will stop and drop into a single column. Experiment with different values and screen sizes.*/
/*The column-fill property specifies how to fill columns, balanced or not.

Tip: If you add a height to a multi-column element, you can control how the content fills the columns. The content can be balanced or filled sequentially. Add a height to the column then experiment with different column fills - auto or balanced.*/

/* A column span property allows a headline to span across multiple columns.*/

#columns h2 {
	column-span: ; /* the h2 element will span accross all columns.*/
}
